<div class="row my-4 d-flex justify-content-center">
  <div class="col-md-2">
    <app-sidebar></app-sidebar>
  </div>

  <div
    class="col-md-10 d-flex flex-column align-items-center justify-content-center"
  >
    <!-- Alert -->
    <div
      class="alert alert-warning d-flex flex-column align-items-center w-25"
      role="alert"
      *ngIf="showAlert && productList.length < 1"
    >
      No search results.

      <button class="btn btn-warning mt-3" (click)="navigateHome()">
        Go Back
      </button>
    </div>

    <!-- Products -->
    <div
      class="col-md-10 gap-4 d-flex flex-wrap align-items-center justify-content-center"
    >
      <!-- Product Card -->
      <div
        class="card"
        style="width: 18rem"
        *ngFor="let product of productList"
        routerLink="/products/{{ product.id }}"
      >
        <img
          [src]="product.images[0]"
          (error)="handleImageError($event)"
          alt="{{ product.title }}"
          class="rounded"
        />
        <div class="card-body">
          <h5 class="card-title">{{ product.title | uppercase }}</h5>
          <p class="card-text">$ {{ product.price | number : "1.2-2" }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
