/* .row.d-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
} */

.card {
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  /* margin: 10px; */
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.card-img-top {
  object-fit: cover;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-text {
  color: #007bff;
  font-size: 1.1rem;
  font-weight: bold;
}
